openapi: 3.0.0
info:
  title: neotek Open Banking - Master API
  version: 1.0.0
  description: 'Combined OpenAPI specification for every neotek Open Banking service: consent and account linking, account aggregation, and all commercial data products. Generated as a master reference; each service also has its own standalone specification.'
servers:
- url: https://api.neotek.sa
  description: Production
- url: https://test.api.neotek.sa
  description: UAT / Sandbox
tags:
- name: Consent and Account Linking
  description: 'The prerequisite APIs every client calls before any commercial product: obtain a bearer token, list participating banks, create a customer''s consent, and check its status.'
- name: Single API Aggregator
- name: Average Balances
- name: Account Insights
- name: Income Verification Plus
- name: E-Statements
- name: Cashflow Report
- name: Credit Profile Assessment
paths:
  /oauth2security/oauth2/token:
    post:
      tags:
      - Consent and Account Linking
      operationId: GenerateOAuthClientCredentialsToken
      summary: Generate Access Token
      description: The first step for any client before calling any neotek Open Banking API. Exchanges a client id and client secret for a bearer token using the OAuth2 Client Credentials grant. Request a separate token per scope, or a space-separated list of scopes if calling multiple services with the same credentials. Use the returned access_token as the authorization header on every subsequent call.
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - grant_type
              - client_id
              - client_secret
              - scope
              properties:
                grant_type:
                  type: string
                  enum:
                  - client_credentials
                  example: client_credentials
                client_id:
                  type: string
                  description: Client identifier issued to the integrating application.
                client_secret:
                  type: string
                  description: Client secret issued to the integrating application.
                scope:
                  type: string
                  description: Space-separated list of one or more scopes being requested, e.g. "single_api income_verification cashflow".
                  example: single_api income_verification cashflow
      responses:
        '200':
          description: Token issued successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oauth2_TokenResponse'
        '400':
          description: Invalid request, e.g. missing grant_type or scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oauth2_TokenErrorResponse'
        '401':
          description: Invalid client_id or client_secret
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oauth2_TokenErrorResponse'
  /financial-institutions-information/v1/financial-institutions:
    get:
      tags:
      - Consent and Account Linking
      summary: List Financial Institutions
      operationId: TPP-ListFinancialInstitutions
      description: This path is used to list registered financial institutions.
      parameters:
      - $ref: '#/components/parameters/financial_institutions_authorization'
      - $ref: '#/components/parameters/financial_institutions_x-request-id'
      - $ref: '#/components/parameters/financial_institutions_x-auth-date'
      - $ref: '#/components/parameters/financial_institutions_x-customer-ip-address'
      - $ref: '#/components/parameters/financial_institutions_x-customer-user-agent'
      - $ref: '#/components/parameters/financial_institutions_FinancialInstitutionId'
      - $ref: '#/components/parameters/financial_institutions_FinancialInstitutionName'
      - $ref: '#/components/parameters/financial_institutions_IsActive'
      - $ref: '#/components/parameters/financial_institutions_Page'
      responses:
        '200':
          $ref: '#/components/responses/financial_institutions_200ListFinancialInstitutions'
        '400':
          $ref: '#/components/responses/financial_institutions_400Error'
        '401':
          $ref: '#/components/responses/financial_institutions_401Error'
        '403':
          $ref: '#/components/responses/financial_institutions_403Error'
        '405':
          $ref: '#/components/responses/financial_institutions_405Error'
        '406':
          $ref: '#/components/responses/financial_institutions_406Error'
        '429':
          $ref: '#/components/responses/financial_institutions_429Error'
        '500':
          $ref: '#/components/responses/financial_institutions_500Error'
      security:
      - OAuth2:
        - single_api
  /accounts-information/v1/accounts-links:
    post:
      tags:
      - Consent and Account Linking
      operationId: CreateAccountLink
      summary: Create Account Link
      description: Registers a customer's consent for a selected financial institution and initiates the FAPI authorization flow. Returns a RedirectionURL to send the customer to their bank's consent screen.
      security:
      - OAuth2:
        - single_api
      parameters:
      - name: authorization
        in: header
        required: true
        schema:
          type: string
        description: Bearer token.
      - name: x-request-id
        in: header
        required: false
        schema:
          type: string
        description: RFC4122 UID used as a correlation id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/accounts_links_CreateAccountLinkRequest'
      responses:
        '201':
          description: Account Link created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/accounts_links_CreateAccountLinkResponse'
        '400':
          $ref: '#/components/responses/accounts_links_400Error'
        '401':
          $ref: '#/components/responses/accounts_links_401Error'
        '403':
          $ref: '#/components/responses/accounts_links_403Error'
    get:
      tags:
      - Consent and Account Linking
      operationId: ListAccountLinks
      summary: List Account Links
      description: Returns consent links for a given PSU, with filtering and pagination, used to confirm link status and retrieve the AccountsLinkId needed for product calls.
      security:
      - OAuth2:
        - single_api
      parameters:
      - name: authorization
        in: header
        required: true
        schema:
          type: string
        description: Bearer token.
      - name: x-request-id
        in: header
        required: false
        schema:
          type: string
        description: RFC4122 UID used as a correlation id.
      - name: PSUId
        in: query
        required: true
        schema:
          type: string
        description: Customer identifier. Returns only links belonging to this PSU.
      - name: AccountsLinkId
        in: query
        required: false
        schema:
          type: string
        description: Filter to a specific link by its ID.
      - name: FinancialInstitutionId
        in: query
        required: false
        schema:
          type: string
        description: Filter by institution SWIFT BIC.
      - name: Status
        in: query
        required: false
        schema:
          type: string
        description: 'Comma-separated filter: Active, Pending, Rejected, Revoked, Expired.'
      - name: Page
        in: query
        required: false
        schema:
          type: integer
        description: Page number for paginated results.
      - name: Order
        in: query
        required: false
        schema:
          type: string
          enum:
          - ASC
          - DESC
        description: Sort order.
      responses:
        '200':
          description: List of Account Links
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/accounts_links_ListAccountLinksResponse'
        '400':
          $ref: '#/components/responses/accounts_links_400Error'
        '401':
          $ref: '#/components/responses/accounts_links_401Error'
  /single-api-aggregator/v1/profiles/accounts:
    get:
      tags:
      - Single API Aggregator
      summary: List Profiles Accounts.
      operationId: ListProfilesAccounts
      description: "List profiles' accounts linked to a PSU. You can filter listed accounts by profile, financial institution, \naccounts link, account, ...etc."
      parameters:
      - $ref: '#/components/parameters/single_api_aggregator_x-request-id'
      - $ref: '#/components/parameters/single_api_aggregator_PSUId'
      - $ref: '#/components/parameters/single_api_aggregator_ProfileId'
      - $ref: '#/components/parameters/single_api_aggregator_FinancialInstitutionId'
      - $ref: '#/components/parameters/single_api_aggregator_FinancialInstitutionName'
      - $ref: '#/components/parameters/single_api_aggregator_AccountsLinkId'
      - $ref: '#/components/parameters/single_api_aggregator_AccountId'
      - $ref: '#/components/parameters/single_api_aggregator_AccountStatus'
      - $ref: '#/components/parameters/single_api_aggregator_Currency'
      - $ref: '#/components/parameters/single_api_aggregator_AccountType'
      - $ref: '#/components/parameters/single_api_aggregator_AccountSubType'
      - $ref: '#/components/parameters/single_api_aggregator_FromOpeningDate'
      - $ref: '#/components/parameters/single_api_aggregator_ToOpeningDate'
      - $ref: '#/components/parameters/single_api_aggregator_IncludeBalancesFlag'
      - $ref: '#/components/parameters/single_api_aggregator_BalanceType'
      - $ref: '#/components/parameters/single_api_aggregator_Page'
      - $ref: '#/components/parameters/single_api_aggregator_AccountOrder'
      responses:
        '200':
          $ref: '#/components/responses/single_api_aggregator_200ListProfileAccounts'
        '400':
          $ref: '#/components/responses/single_api_aggregator_400Error'
        '401':
          $ref: '#/components/responses/single_api_aggregator_401Error'
        '403':
          $ref: '#/components/responses/single_api_aggregator_403Error'
        '405':
          $ref: '#/components/responses/single_api_aggregator_405Error'
        '406':
          $ref: '#/components/responses/single_api_aggregator_406Error'
        '429':
          $ref: '#/components/responses/single_api_aggregator_429Error'
        '500':
          $ref: '#/components/responses/single_api_aggregator_500Error'
      security:
      - OAuth2:
        - single_api
  /single-api-aggregator/v1/profiles/balances:
    get:
      tags:
      - Single API Aggregator
      summary: List Profiles Balances.
      operationId: ListProfilesBalances
      description: List profiles' balances linked to a PSU. You can filter listed balances by profile, financial institution, accounts link, account, ...etc.
      parameters:
      - $ref: '#/components/parameters/single_api_aggregator_x-request-id'
      - $ref: '#/components/parameters/single_api_aggregator_PSUId'
      - $ref: '#/components/parameters/single_api_aggregator_ProfileId'
      - $ref: '#/components/parameters/single_api_aggregator_FinancialInstitutionId'
      - $ref: '#/components/parameters/single_api_aggregator_FinancialInstitutionName'
      - $ref: '#/components/parameters/single_api_aggregator_AccountsLinkId'
      - $ref: '#/components/parameters/single_api_aggregator_AccountId'
      - $ref: '#/components/parameters/single_api_aggregator_BalanceType'
      - $ref: '#/components/parameters/single_api_aggregator_Currency'
      - $ref: '#/components/parameters/single_api_aggregator_BalanceAmountType'
      - $ref: '#/components/parameters/single_api_aggregator_FromAmount'
      - $ref: '#/components/parameters/single_api_aggregator_ToAmount'
      - $ref: '#/components/parameters/single_api_aggregator_Page'
      responses:
        '200':
          $ref: '#/components/responses/single_api_aggregator_200ListProfileBalances'
        '400':
          $ref: '#/components/responses/single_api_aggregator_400Error'
        '401':
          $ref: '#/components/responses/single_api_aggregator_401Error'
        '403':
          $ref: '#/components/responses/single_api_aggregator_403Error'
        '405':
          $ref: '#/components/responses/single_api_aggregator_405Error'
        '406':
          $ref: '#/components/responses/single_api_aggregator_406Error'
        '429':
          $ref: '#/components/responses/single_api_aggregator_429Error'
        '500':
          $ref: '#/components/responses/single_api_aggregator_500Error'
      security:
      - OAuth2:
        - single_api
  /single-api-aggregator/v1/profiles/beneficiaries:
    get:
      tags:
      - Single API Aggregator
      summary: List Profiles Beneficiaries.
      operationId: ListProfilesBeneficiaries
      description: List profiles' beneficiaries linked to a PSU. You can filter listed beneficiaries by profile, financial institution, accounts link, account, ...etc.
      parameters:
      - $ref: '#/components/parameters/single_api_aggregator_x-request-id'
      - $ref: '#/components/parameters/single_api_aggregator_PSUId'
      - $ref: '#/components/parameters/single_api_aggregator_ProfileId'
      - $ref: '#/components/parameters/single_api_aggregator_FinancialInstitutionId'
      - $ref: '#/components/parameters/single_api_aggregator_FinancialInstitutionName'
      - $ref: '#/components/parameters/single_api_aggregator_AccountsLinkId'
      - $ref: '#/components/parameters/single_api_aggregator_AccountId'
      - $ref: '#/components/parameters/single_api_aggregator_BeneficiaryType'
      - $ref: '#/components/parameters/single_api_aggregator_BeneficiaryName'
      - $ref: '#/components/parameters/single_api_aggregator_BeneficiaryShortName'
      - $ref: '#/components/parameters/single_api_aggregator_BeneficiaryBankName'
      - $ref: '#/components/parameters/single_api_aggregator_Page'
      responses:
        '200':
          $ref: '#/components/responses/single_api_aggregator_200ListProfileBeneficiaries'
        '400':
          $ref: '#/components/responses/single_api_aggregator_400Error'
        '401':
          $ref: '#/components/responses/single_api_aggregator_401Error'
        '403':
          $ref: '#/components/responses/single_api_aggregator_403Error'
        '405':
          $ref: '#/components/responses/single_api_aggregator_405Error'
        '406':
          $ref: '#/components/responses/single_api_aggregator_406Error'
        '429':
          $ref: '#/components/responses/single_api_aggregator_429Error'
        '500':
          $ref: '#/components/responses/single_api_aggregator_500Error'
      security:
      - OAuth2:
        - single_api
  /single-api-aggregator/v1/profiles/transactions:
    get:
      tags:
      - Single API Aggregator
      summary: List Profile Transactions.
      operationId: ListProfileTransactions
      description: List profiles' transactions linked to a PSU. You can filter listed transactions by profile, financial institution, accounts link, account, ...etc.
      parameters:
      - $ref: '#/components/parameters/single_api_aggregator_x-request-id'
      - $ref: '#/components/parameters/single_api_aggregator_PSUId'
      - $ref: '#/components/parameters/single_api_aggregator_ProfileId'
      - $ref: '#/components/parameters/single_api_aggregator_FinancialInstitutionId'
      - $ref: '#/components/parameters/single_api_aggregator_FinancialInstitutionName'
      - $ref: '#/components/parameters/single_api_aggregator_AccountsLinkId'
      - $ref: '#/components/parameters/single_api_aggregator_AccountId'
      - $ref: '#/components/parameters/single_api_aggregator_TransactionType'
      - $ref: '#/components/parameters/single_api_aggregator_TransactionSubType'
      - $ref: '#/components/parameters/single_api_aggregator_TransactionFlags'
      - $ref: '#/components/parameters/single_api_aggregator_PaymentMode'
      - $ref: '#/components/parameters/single_api_aggregator_TransactionAmountType'
      - $ref: '#/components/parameters/single_api_aggregator_TransactionStatus'
      - $ref: '#/components/parameters/single_api_aggregator_TransactionMutability'
      - $ref: '#/components/parameters/single_api_aggregator_FromBookingDate'
      - $ref: '#/components/parameters/single_api_aggregator_ToBookingDate'
      - $ref: '#/components/parameters/single_api_aggregator_FromAmount'
      - $ref: '#/components/parameters/single_api_aggregator_ToAmount'
      - $ref: '#/components/parameters/single_api_aggregator_Currency'
      - $ref: '#/components/parameters/single_api_aggregator_MerchantName'
      - $ref: '#/components/parameters/single_api_aggregator_CardSchemeName'
      - $ref: '#/components/parameters/single_api_aggregator_Page'
      - $ref: '#/components/parameters/single_api_aggregator_TransactionOrder'
      responses:
        '200':
          $ref: '#/components/responses/single_api_aggregator_200ListProfileTransactions'
        '400':
          $ref: '#/components/responses/single_api_aggregator_400Error'
        '401':
          $ref: '#/components/responses/single_api_aggregator_401Error'
        '403':
          $ref: '#/components/responses/single_api_aggregator_403Error'
        '405':
          $ref: '#/components/responses/single_api_aggregator_405Error'
        '406':
          $ref: '#/components/responses/single_api_aggregator_406Error'
        '429':
          $ref: '#/components/responses/single_api_aggregator_429Error'
        '500':
          $ref: '#/components/responses/single_api_aggregator_500Error'
      security:
      - OAuth2:
        - single_api
  /single-api-aggregator/v1/profile/direct-debits/{account_id}:
    get:
      tags:
      - Single API Aggregator
      summary: Get Account Direct Debits
      operationId: getAccountDirectDebits
      parameters:
      - name: x-request-id
        in: header
        description: An RFC4122 UID used as a correlation id.
        schema:
          type: string
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          title: Account Id
      - name: psu_id
        in: query
        required: false
        schema:
          type: string
          title: Psu Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single_api_aggregator_GetAccountDirectDebbitsResponse'
        '400':
          description: Bad Request
          headers:
            x-request-id:
              description: An RFC4122 UID used as a correlation id.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single_api_aggregator_DirectDebits_ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single_api_aggregator_DirectDebits_ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single_api_aggregator_DirectDebits_ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single_api_aggregator_DirectDebits_ErrorResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single_api_aggregator_DirectDebits_ErrorResponse'
        '406':
          description: Not Acceptable Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single_api_aggregator_DirectDebits_ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single_api_aggregator_DirectDebits_ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single_api_aggregator_DirectDebits_ErrorResponse'
        '503':
          description: Service Unavailable Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single_api_aggregator_DirectDebits_ErrorResponse'
      security:
      - OAuth2:
        - single_api
  /single-api-aggregator/v1/profile/parties/{account_id}:
    get:
      tags:
      - Single API Aggregator
      summary: Get Account Parties
      operationId: getAccountParties
      parameters:
      - name: x-request-id
        in: header
        description: An RFC4122 UID used as a correlation id.
        schema:
          type: string
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          title: Account Id
      - name: psu_id
        in: query
        required: false
        schema:
          type: string
          title: Psu Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single_api_aggregator_AccountPartiesSchema'
        '400':
          description: Bad Request
          headers:
            x-request-id:
              description: An RFC4122 UID used as a correlation id.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single_api_aggregator_Parties_ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single_api_aggregator_Parties_ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single_api_aggregator_Parties_ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single_api_aggregator_Parties_ErrorResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single_api_aggregator_Parties_ErrorResponse'
        '406':
          description: Not Acceptable Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single_api_aggregator_Parties_ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single_api_aggregator_Parties_ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single_api_aggregator_Parties_ErrorResponse'
        '503':
          description: Service Unavailable Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single_api_aggregator_Parties_ErrorResponse'
      security:
      - OAuth2:
        - single_api
  /single-api-aggregator/v1/profile/scheduled-payments/{account_id}:
    get:
      tags:
      - Single API Aggregator
      summary: Get Account Scheduled Payments
      operationId: getAccountScheduledPayments
      parameters:
      - name: x-request-id
        in: header
        description: An RFC4122 UID used as a correlation id.
        schema:
          type: string
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          title: Account Id
      - name: psu_id
        in: query
        required: false
        schema:
          type: string
          title: Psu Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single_api_aggregator_GetAccountScheduledPaymentsResponse'
      security:
      - OAuth2:
        - single_api
  /single-api-aggregator/v1/profile/standing-orders/{account_id}:
    get:
      tags:
      - Single API Aggregator
      summary: Get Account Standing Orders
      operationId: getAccountStandingOrders
      parameters:
      - name: x-request-id
        in: header
        description: An RFC4122 UID used as a correlation id.
        schema:
          type: string
      - name: account_id
        in: path
        required: true
        schema:
          type: string
          title: Account Id
      - name: psu_id
        in: query
        required: false
        schema:
          type: string
          title: Psu Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single_api_aggregator_GetAccountStandingOrdersResponse'
        '400':
          description: Bad Request
          headers:
            x-request-id:
              description: An RFC4122 UID used as a correlation id.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single_api_aggregator_StandingOrders_ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single_api_aggregator_StandingOrders_ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single_api_aggregator_StandingOrders_ErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single_api_aggregator_StandingOrders_ErrorResponse'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single_api_aggregator_StandingOrders_ErrorResponse'
        '406':
          description: Not Acceptable Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single_api_aggregator_StandingOrders_ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single_api_aggregator_StandingOrders_ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single_api_aggregator_StandingOrders_ErrorResponse'
        '503':
          description: Service Unavailable Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/single_api_aggregator_StandingOrders_ErrorResponse'
      security:
      - OAuth2:
        - single_api
  /balances/v1/average-balances:
    get:
      tags:
      - Average Balances
      operationId: average_balances
      responses:
        '200':
          $ref: '#/components/responses/average_balances_200AverageBalancesResponse'
        '400':
          $ref: '#/components/responses/average_balances_400Error'
        '401':
          $ref: '#/components/responses/average_balances_401Error'
        '403':
          $ref: '#/components/responses/average_balances_403Error'
        '404':
          $ref: '#/components/responses/average_balances_404Error'
        '405':
          $ref: '#/components/responses/average_balances_405Error'
        '406':
          $ref: '#/components/responses/average_balances_406Error'
        '415':
          $ref: '#/components/responses/average_balances_415Error'
        '429':
          $ref: '#/components/responses/average_balances_429Error'
        '500':
          $ref: '#/components/responses/average_balances_500Error'
      parameters:
      - $ref: '#/components/parameters/average_balances_authorization'
      - $ref: '#/components/parameters/average_balances_x-request-id'
      - $ref: '#/components/parameters/average_balances_AccountsLinkId'
      - $ref: '#/components/parameters/average_balances_PSUId'
      - $ref: '#/components/parameters/average_balances_CustomerType'
      - $ref: '#/components/parameters/average_balances_Duration'
      security:
      - OAuth2:
        - average_balance
  /open-banking/v1/account-insights:
    post:
      tags:
      - Account Insights
      summary: Account Insights
      operationId: account_insights_neotek_account_insights_post
      parameters:
      - $ref: '#/components/parameters/account_insights_authorization'
      - $ref: '#/components/parameters/account_insights_x-request-id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/account_insights_AccountInsightsRequest'
      responses:
        '200':
          $ref: '#/components/responses/account_insights_200AccountInsightResponse'
        '400':
          $ref: '#/components/responses/account_insights_400Error'
        '401':
          $ref: '#/components/responses/account_insights_401Error'
        '403':
          $ref: '#/components/responses/account_insights_403Error'
        '404':
          $ref: '#/components/responses/account_insights_404Error'
        '405':
          $ref: '#/components/responses/account_insights_405Error'
        '406':
          $ref: '#/components/responses/account_insights_406Error'
        '429':
          $ref: '#/components/responses/account_insights_429Error'
        '500':
          $ref: '#/components/responses/account_insights_500Error'
      security:
      - OAuth2:
        - account_insights
  /income-verification/v1/income-verification-plus:
    post:
      tags:
      - Income Verification Plus
      summary: List Accounts Income Verification
      operationId: listAccountsIncomeVerificationDarahim
      parameters:
      - name: authorization
        in: header
        description: An authorization Token as per https://tools.ietf.org/html/rfc6750
        required: true
        schema:
          type: string
      - name: x-request-id
        in: header
        description: An RFC4122 UID used as a correlation id.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/income_verification_plus_IncomeVerificationRequestBody'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response List Accounts Income Verification Neotek Income Verification Post
                type: array
                items:
                  $ref: '#/components/schemas/income_verification_plus_IncomeVerificationItem'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/income_verification_plus_ExceptionResponse'
              examples:
                account_failed:
                  summary: Account status is Failed
                  value:
                    Errors:
                    - Code: 400
                      Message: account_failed
                account_pending:
                  summary: Account status is Pending
                  value:
                    Errors:
                    - Code: 400
                      Message: account_pending
        '401':
          $ref: '#/components/responses/income_verification_plus_401Error'
        '403':
          $ref: '#/components/responses/income_verification_plus_403Error'
        '404':
          $ref: '#/components/responses/income_verification_plus_404Error'
        '405':
          $ref: '#/components/responses/income_verification_plus_405Error'
        '406':
          $ref: '#/components/responses/income_verification_plus_406Error'
        '429':
          $ref: '#/components/responses/income_verification_plus_429Error'
        '500':
          $ref: '#/components/responses/income_verification_plus_500Error'
      security:
      - OAuth2:
        - income_verification
  /financial-statements/v1/estatements-request:
    post:
      tags:
      - E-Statements
      summary: Create E-Statements
      operationId: CreateEStatements
      description: This path is used to create E-Statements.
      parameters:
      - $ref: '#/components/parameters/e_statements_authorization'
      - $ref: '#/components/parameters/e_statements_x-request-id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/e_statements_CreateEStatementsRequest'
        description: Create E-Statement payload
        required: true
      responses:
        '201':
          $ref: '#/components/responses/e_statements_201CreateEStatementsResponse'
        '400':
          $ref: '#/components/responses/e_statements_400Error'
        '401':
          $ref: '#/components/responses/e_statements_401Error'
        '403':
          $ref: '#/components/responses/e_statements_403Error'
        '404':
          $ref: '#/components/responses/e_statements_404Error'
        '405':
          $ref: '#/components/responses/e_statements_405Error'
        '406':
          $ref: '#/components/responses/e_statements_406Error'
        '415':
          $ref: '#/components/responses/e_statements_415Error'
        '429':
          $ref: '#/components/responses/e_statements_429Error'
        '500':
          $ref: '#/components/responses/e_statements_500Error'
      security:
      - OAuth2:
        - e_statements
  /financial-statements/v1/e-statements/{StatementId}:
    get:
      tags:
      - E-Statements
      summary: Get E-Statement by E-Statement Id
      operationId: GetEStatementbyEStatementId
      description: This path is used to get E-Statement by E-Statement Id.
      parameters:
      - $ref: '#/components/parameters/e_statements_StatementId'
      - $ref: '#/components/parameters/e_statements_authorization'
      - $ref: '#/components/parameters/e_statements_x-request-id'
      responses:
        '200':
          $ref: '#/components/responses/e_statements_200GetEStatementbyEStatementIdResponse'
        '400':
          $ref: '#/components/responses/e_statements_400Error'
        '401':
          $ref: '#/components/responses/e_statements_401Error'
        '403':
          $ref: '#/components/responses/e_statements_403Error'
        '404':
          $ref: '#/components/responses/e_statements_404Error'
        '405':
          $ref: '#/components/responses/e_statements_405Error'
        '406':
          $ref: '#/components/responses/e_statements_406Error'
        '415':
          $ref: '#/components/responses/e_statements_415Error'
        '429':
          $ref: '#/components/responses/e_statements_429Error'
        '500':
          $ref: '#/components/responses/e_statements_500Error'
      security:
      - OAuth2:
        - e_statements
  /financial-statements/v1/e-statements/{StatementId}/pdf:
    get:
      tags:
      - E-Statements
      summary: Get E-Statement PDF by E-Statement Id
      operationId: GetEStatementPDFbyEStatementId
      description: This path is used to get E-Statement PDF by E-Statement Id.
      parameters:
      - $ref: '#/components/parameters/e_statements_StatementId'
      - $ref: '#/components/parameters/e_statements_authorization'
      - $ref: '#/components/parameters/e_statements_x-request-id'
      responses:
        '200':
          $ref: '#/components/responses/e_statements_200GetEStatementPDFbyEStatementIdResponse'
        '400':
          $ref: '#/components/responses/e_statements_400Error'
        '401':
          $ref: '#/components/responses/e_statements_401Error'
        '403':
          $ref: '#/components/responses/e_statements_403Error'
        '404':
          $ref: '#/components/responses/e_statements_404Error'
        '405':
          $ref: '#/components/responses/e_statements_405Error'
        '406':
          $ref: '#/components/responses/e_statements_406Error'
        '415':
          $ref: '#/components/responses/e_statements_415Error'
        '429':
          $ref: '#/components/responses/e_statements_429Error'
        '500':
          $ref: '#/components/responses/e_statements_500Error'
      security:
      - OAuth2:
        - e_statements
  /financial-statements/v1/e-statements/{StatementId}/csv:
    get:
      tags:
      - E-Statements
      summary: Get E-Statement CSV by E-Statement Id
      operationId: GetEStatementCSVbyEStatementId
      description: This path is used to get E-Statement CSV by E-Statement Id.
      parameters:
      - $ref: '#/components/parameters/e_statements_StatementId'
      - $ref: '#/components/parameters/e_statements_authorization'
      - $ref: '#/components/parameters/e_statements_x-request-id'
      responses:
        '200':
          $ref: '#/components/responses/e_statements_200GetEStatementCSVbyEStatementIdResponse'
        '400':
          $ref: '#/components/responses/e_statements_400Error'
        '401':
          $ref: '#/components/responses/e_statements_401Error'
        '403':
          $ref: '#/components/responses/e_statements_403Error'
        '404':
          $ref: '#/components/responses/e_statements_404Error'
        '405':
          $ref: '#/components/responses/e_statements_405Error'
        '406':
          $ref: '#/components/responses/e_statements_406Error'
        '415':
          $ref: '#/components/responses/e_statements_415Error'
        '429':
          $ref: '#/components/responses/e_statements_429Error'
        '500':
          $ref: '#/components/responses/e_statements_500Error'
      security:
      - OAuth2:
        - e_statements
  /open-banking/v1/reports/cashflow:
    get:
      summary: Cashflow Report
      operationId: GetCashflowReport
      description: This path is used to retrieve the cashflow report for an account.
      tags:
      - Cashflow Report
      parameters:
      - $ref: '#/components/parameters/cashflow_report_authorization'
      - $ref: '#/components/parameters/cashflow_report_x-request-id'
      - $ref: '#/components/parameters/cashflow_report_PsuId'
      - $ref: '#/components/parameters/cashflow_report_FromDate'
      - $ref: '#/components/parameters/cashflow_report_ToDate'
      - $ref: '#/components/parameters/cashflow_report_AccountId'
      - $ref: '#/components/parameters/cashflow_report_FinancialInstitutionId'
      responses:
        '200':
          $ref: '#/components/responses/cashflow_report_CashflowReportSuccess'
        '400':
          $ref: '#/components/responses/cashflow_report_400Error'
        '401':
          $ref: '#/components/responses/cashflow_report_401Error'
        '403':
          $ref: '#/components/responses/cashflow_report_403Error'
        '404':
          $ref: '#/components/responses/cashflow_report_404Error'
        '405':
          $ref: '#/components/responses/cashflow_report_405Error'
        '406':
          $ref: '#/components/responses/cashflow_report_406Error'
        '415':
          $ref: '#/components/responses/cashflow_report_415Error'
        '429':
          $ref: '#/components/responses/cashflow_report_429Error'
        '500':
          $ref: '#/components/responses/cashflow_report_500Error'
      security:
      - OAuth2:
        - cashflow
  /credit-profile-assessment/v1/credit-profile/getCreditProfileReport:
    post:
      tags:
      - Credit Profile Assessment
      summary: Generate Credit Profile Report (JSON)
      description: 'Generates a comprehensive credit profile assessment report based on the customer''s

        Open Banking transaction data. Returns detailed JSON response with score breakdown,

        financial metrics, and recommendations.

        '
      operationId: getCreditRiskReport
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/credit_profile_assessment_CreditProfileRequest'
            examples:
              basic:
                summary: Basic Request
                value:
                  psuId: PSU123456
                  accountLinkId: consent-uuid-123
                  accountId: SA0380000000608010167519
                  customerType: RETAIL
              withPurpose:
                summary: Request with Loan Purpose
                value:
                  psuId: PSU123456
                  accountLinkId: consent-uuid-123
                  accountId: SA0380000000608010167519
                  customerType: RETAIL
                  purpose: PERSONAL_FINANCE
                  requestedAmount: 50000
                  loanTermMonths: 36
                  annualInterestRate: 3
                  age: 35
      responses:
        '200':
          description: Credit profile report generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credit_profile_assessment_CreditProfileReportResponse'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credit_profile_assessment_ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/credit_profile_assessment_ErrorResponse'
      security:
      - OAuth2:
        - credit_profile_assessment
  /credit-profile-assessment/v1/credit-profile/getCreditProfileReport/v2/pdf:
    post:
      tags:
      - Credit Profile Assessment
      summary: Generate Credit Profile Report (PDF V2 - 8 pages)
      description: 'Generates an enhanced 8-page PDF credit profile report with:

        - Page 1: Executive Summary

        - Page 2: Credit Score Component Breakdown

        - Page 3: Financial Health Indicators

        - Page 4: Transaction Analysis

        - Page 5: Loan Exposure & Debt Profile

        - Page 6: Behavior Analysis

        - Page 7: Monthly Breakdown

        - Page 8: Final Recommendation (with Purpose Assessment)

        '
      operationId: getCreditProfileReportPdfV2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/credit_profile_assessment_CreditProfileRequest'
      responses:
        '200':
          description: PDF V2 report generated successfully
          content:
            application/pdf:
              schema:
                type: string
                format: binary
          headers:
            Content-Disposition:
              description: Attachment filename
              schema:
                type: string
                example: attachment; filename="credit-profile-report-v2-SA038-abc12345.pdf"
        '400':
          description: Invalid request parameters
        '500':
          description: Internal server error
      security:
      - OAuth2:
        - credit_profile_assessment
components:
  schemas:
    single_api_aggregator_GetAccountDirectDebbitsResponse:
      properties:
        Data:
          $ref: '#/components/schemas/single_api_aggregator_GetAccountDirectDebitsResponseData'
        Links:
          $ref: '#/components/schemas/single_api_aggregator_Links'
        Meta:
          $ref: '#/components/schemas/single_api_aggregator_Meta'
      type: object
      required:
      - Data
      - Links
      - Meta
      title: GetAccountDirectDebbitsResponse
    single_api_aggregator_Links:
      properties:
        Self:
          type: string
          title: Self
        First:
          anyOf:
          - type: string
          title: First
        Last:
          anyOf:
          - type: string
          title: Last
      type: object
      required:
      - Self
      title: Links
    single_api_aggregator_Meta:
      properties:
        TotalPages:
          type: integer
          title: Totalpages
      type: object
      required:
      - TotalPages
      title: Meta
    single_api_aggregator_GetAccountDirectDebitsResponseData:
      properties:
        AccountId:
          type: string
          title: Accountid
        DirectDebit:
          items: {}
          type: array
          title: Directdebit
      type: object
      required:
      - AccountId
      - DirectDebit
      title: Data
    single_api_aggregator_DirectDebits_ErrorResponse:
      required:
      - Errors
      type: object
      properties:
        Errors:
          type: array
          description: An Object of detail error code, and messages, and URLs to documentation to help remediation.
          items:
            type: object
            properties:
              Code:
                type: string
                description: High level textual error code, to help categorize the Error.
              Message:
                type: string
                description: Brief Error message, e.g., 'There is something wrong with the request parameters provided'
              Path:
                type: string
                description: Path of field
                example: request.body.PSUId
              Url:
                type: string
                description: Url
                example: https://sit.api.neotek.sa
    single_api_aggregator_AccountPartiesSchema:
      properties:
        Data:
          $ref: '#/components/schemas/single_api_aggregator_GetAccountPartiesResponse'
        Links:
          $ref: '#/components/schemas/single_api_aggregator_Links'
        Meta:
          $ref: '#/components/schemas/single_api_aggregator_Meta'
      type: object
      required:
      - Data
      - Links
      - Meta
      title: AccountPartiesSchema
    single_api_aggregator_GetAccountPartiesResponse:
      properties:
        AccountId:
          type: string
          title: Accountid
        Party:
          items:
            $ref: '#/components/schemas/single_api_aggregator_PartyItem'
          type: array
          title: Party
      type: object
      required:
      - AccountId
      - Party
      title: Data
    single_api_aggregator_PartyItem:
      properties:
        PartyId:
          type: string
          title: Partyid
        PartyNumber:
          type: string
          title: Partynumber
        PartyType:
          type: string
          title: Partytype
        VerifiedClaims:
          items:
            $ref: '#/components/schemas/single_api_aggregator_VerifiedClaim'
          type: array
          title: Verifiedclaims
        AccountRole:
          type: string
          title: Accountrole
      type: object
      required:
      - PartyId
      - PartyNumber
      - PartyType
      - VerifiedClaims
      - AccountRole
      title: PartyItem
    single_api_aggregator_VerifiedClaim:
      properties:
        Verification:
          $ref: '#/components/schemas/single_api_aggregator_Verification'
        Claims:
          $ref: '#/components/schemas/single_api_aggregator_Claims'
      type: object
      required:
      - Verification
      - Claims
      title: VerifiedClaim
    single_api_aggregator_Verification:
      properties:
        Evidence:
          items:
            $ref: '#/components/schemas/single_api_aggregator_EvidenceItem'
          type: array
          title: Evidence
        TrustFramework:
          type: string
          title: Trustframework
        AssuranceLevel:
          type: string
          title: Assurancelevel
      type: object
      required:
      - Evidence
      - TrustFramework
      - AssuranceLevel
      title: Verification
    single_api_aggregator_Claims:
      properties:
        Sub:
          type: string
          title: Sub
        Name:
          type: string
          title: Name
        GivenName:
          type: string
          title: Givenname
        FamilyName:
          type: string
          title: Familyname
        Email:
          type: string
          title: Email
        EmailVerified:
          type: boolean
          title: Emailverified
        Gender:
          type: string
          title: Gender
        PhoneNumber:
          type: string
          title: Phonenumber
        PhoneNumberVerified:
          type: boolean
          title: Phonenumberverified
      type: object
      required:
      - Sub
      - Name
      - GivenName
      - FamilyName
      - Email
      - EmailVerified
      - Gender
      - PhoneNumber
      - PhoneNumberVerified
      title: Claims
    single_api_aggregator_EvidenceItem:
      properties:
        Type:
          type: string
          title: Type
        CheckDetails:
          items: {}
          type: array
          title: Checkdetails
        Attachments:
          items: {}
          type: array
          title: Attachments
        DocumentDetails:
          $ref: '#/components/schemas/single_api_aggregator_DocumentDetails'
      type: object
      required:
      - Type
      - CheckDetails
      - Attachments
      - DocumentDetails
      title: EvidenceItem
    single_api_aggregator_DocumentDetails:
      properties:
        Type:
          type: string
          title: Type
        SerialNumber:
          type: string
          title: Serialnumber
        PersonalNumber:
          type: string
          title: Personalnumber
        DocumentNumber:
          type: string
          title: Documentnumber
        CalendarType:
          type: string
          title: Calendartype
      type: object
      required:
      - Type
      - SerialNumber
      - PersonalNumber
      - DocumentNumber
      - CalendarType
      title: DocumentDetails
    single_api_aggregator_Parties_ErrorResponse:
      required:
      - Errors
      type: object
      properties:
        Errors:
          type: array
          description: An Object of detail error code, and messages, and URLs to documentation to help remediation.
          items:
            type: object
            properties:
              Code:
                type: string
                description: High level textual error code, to help categorize the Error.
              Message:
                type: string
                description: Brief Error message, e.g., 'There is something wrong with the request parameters provided'
              Path:
                type: string
                description: Path of field
                example: request.body.PSUId
              Url:
                type: string
                description: Url
                example: https://sit.api.neotek.sa
    single_api_aggregator_GetAccountScheduledPaymentsResponse:
      properties:
        Data:
          $ref: '#/components/schemas/single_api_aggregator_GetAccountScheduledPaymentsResponseData'
        Links:
          $ref: '#/components/schemas/single_api_aggregator_Links'
        Meta:
          $ref: '#/components/schemas/single_api_aggregator_Meta'
      type: object
      required:
      - Data
      - Links
      - Meta
      title: GetAccountScheduledPaymentsResponse
    single_api_aggregator_GetAccountScheduledPaymentsResponseData:
      properties:
        AccountId:
          type: string
          title: Accountid
        ScheduledPayment:
          items: {}
          type: array
          title: Scheduledpayment
      type: object
      required:
      - AccountId
      - ScheduledPayment
      title: Data
    single_api_aggregator_GetAccountStandingOrdersResponse:
      properties:
        Data:
          $ref: '#/components/schemas/single_api_aggregator_GetAccountStandingOrdersResponseData'
        Links:
          $ref: '#/components/schemas/single_api_aggregator_Links'
        Meta:
          $ref: '#/components/schemas/single_api_aggregator_Meta'
      type: object
      required:
      - Data
      - Links
      - Meta
      title: GetAccountStandingOrdersResponse
    single_api_aggregator_GetAccountStandingOrdersResponseData:
      properties:
        AccountId:
          type: string
          title: Accountid
        StandingOrder:
          items:
            $ref: '#/components/schemas/single_api_aggregator_StandingOrderItem'
          type: array
          title: Standingorder
      type: object
      required:
      - AccountId
      - StandingOrder
      title: Data
    single_api_aggregator_StandingOrderItem:
      properties:
        StandingOrderId:
          type: string
          title: Standingorderid
        AccountHolderName:
          type: string
          title: Accountholdername
        AccountHolderShortName:
          type: string
          title: Accountholdershortname
        Frequency:
          type: string
          title: Frequency
        CreditorReference:
          type: string
          title: Creditorreference
        FirstPaymentDateTime:
          type: string
          title: Firstpaymentdatetime
        NextPaymentDateTime:
          type: string
          title: Nextpaymentdatetime
        LastPaymentDateTime:
          type: string
          title: Lastpaymentdatetime
        FinalPaymentDateTime:
          type: string
          title: Finalpaymentdatetime
        NumberOfPayments:
          type: string
          title: Numberofpayments
        StandingOrderStatusCode:
          type: string
          title: Standingorderstatuscode
        FirstPaymentAmount:
          $ref: '#/components/schemas/single_api_aggregator_FirstPaymentAmount'
        NextPaymentAmount:
          $ref: '#/components/schemas/single_api_aggregator_NextPaymentAmount'
        LastPaymentAmount:
          $ref: '#/components/schemas/single_api_aggregator_LastPaymentAmount'
        FinalPaymentAmount:
          $ref: '#/components/schemas/single_api_aggregator_FinalPaymentAmount'
        CreditorAccount:
          items:
            $ref: '#/components/schemas/single_api_aggregator_StandingOrders_CreditorAccountItem'
          type: array
          title: Creditoraccount
        CreditorAgent:
          $ref: '#/components/schemas/single_api_aggregator_StandingOrders_CreditorAgent'
      type: object
      required:
      - StandingOrderId
      - AccountHolderName
      - AccountHolderShortName
      - Frequency
      - CreditorReference
      - FirstPaymentDateTime
      - NextPaymentDateTime
      - LastPaymentDateTime
      - FinalPaymentDateTime
      - NumberOfPayments
      - StandingOrderStatusCode
      - FirstPaymentAmount
      - NextPaymentAmount
      - LastPaymentAmount
      - FinalPaymentAmount
      - CreditorAccount
      - CreditorAgent
      title: StandingOrderItem
    single_api_aggregator_FinalPaymentAmount:
      properties:
        Amount:
          type: string
          title: Amount
        Currency:
          type: string
          title: Currency
      type: object
      required:
      - Amount
      - Currency
      title: FinalPaymentAmount
    single_api_aggregator_FirstPaymentAmount:
      properties:
        Amount:
          type: string
          title: Amount
        Currency:
          type: string
          title: Currency
      type: object
      required:
      - Amount
      - Currency
      title: FirstPaymentAmount
    single_api_aggregator_LastPaymentAmount:
      properties:
        Amount:
          type: string
          title: Amount
        Currency:
          type: string
          title: Currency
      type: object
      required:
      - Amount
      - Currency
      title: LastPaymentAmount
    single_api_aggregator_NextPaymentAmount:
      properties:
        Amount:
          type: string
          title: Amount
        Currency:
          type: string
          title: Currency
      type: object
      required:
      - Amount
      - Currency
      title: NextPaymentAmount
    single_api_aggregator_StandingOrders_CreditorAccountItem:
      properties:
        IdentificationType:
          type: string
          title: Identificationtype
        Identification:
          type: string
          title: Identification
      type: object
      required:
      - IdentificationType
      - Identification
      title: CreditorAccountItem
    single_api_aggregator_StandingOrders_CreditorAgent:
      properties:
        IdentificationType:
          type: string
          title: Identificationtype
        Identification:
          type: string
          title: Identification
      type: object
      required:
      - IdentificationType
      - Identification
      title: CreditorAgent
    single_api_aggregator_StandingOrders_ErrorResponse:
      required:
      - Errors
      type: object
      properties:
        Errors:
          type: array
          description: An Object of detail error code, and messages, and URLs to documentation to help remediation.
          items:
            type: object
            properties:
              Code:
                type: string
                description: High level textual error code, to help categorize the Error.
              Message:
                type: string
                description: Brief Error message, e.g., 'There is something wrong with the request parameters provided'
              Path:
                type: string
                description: Path of field
                example: request.body.PSUId
              Url:
                type: string
                description: Url
                example: https://sit.api.neotek.sa
    single_api_aggregator_ListProfileAccountsRPLY:
      type: object
      required:
      - Data
      - Meta
      properties:
        Data:
          $ref: '#/components/schemas/single_api_aggregator_ListProfileAccountsData'
        Meta:
          $ref: '#/components/schemas/single_api_aggregator_ListProfileResourceMeta'
    single_api_aggregator_ListProfileBalancesRPLY:
      type: object
      required:
      - Data
      - Meta
      properties:
        Data:
          $ref: '#/components/schemas/single_api_aggregator_ListProfileBalancesData'
        Meta:
          $ref: '#/components/schemas/single_api_aggregator_ListProfileResourceMeta'
    single_api_aggregator_ListProfileBeneficiariesRPLY:
      type: object
      required:
      - Data
      - Meta
      properties:
        Data:
          $ref: '#/components/schemas/single_api_aggregator_ListProfileBeneficiariesData'
        Meta:
          $ref: '#/components/schemas/single_api_aggregator_ListProfileResourceMeta'
    single_api_aggregator_ListProfileDirectDebitsRPLY:
      type: object
      required:
      - Data
      - Meta
      properties:
        Data:
          $ref: '#/components/schemas/single_api_aggregator_ListProfileDirectDebitsData'
        Meta:
          $ref: '#/components/schemas/single_api_aggregator_ListProfileResourceMeta'
    single_api_aggregator_ListProfileTransactionsRPLY:
      type: object
      required:
      - Data
      - Meta
      properties:
        Data:
          $ref: '#/components/schemas/single_api_aggregator_ListProfileTransactionsData'
        Meta:
          $ref: '#/components/schemas/single_api_aggregator_ListProfileResourceMeta'
    single_api_aggregator_ListProfileAccountsData:
      type: object
      required:
      - Accounts
      properties:
        Accounts:
          type: array
          items:
            $ref: '#/components/schemas/single_api_aggregator_ListProfileAccountsItem'
    single_api_aggregator_ListProfileBalancesData:
      type: object
      required:
      - Balances
      properties:
        Balances:
          type: array
          items:
            $ref: '#/components/schemas/single_api_aggregator_ListProfileBalancesItem'
    single_api_aggregator_ListProfileBeneficiariesData:
      type: object
      required:
      - Beneficiaries
      properties:
        Beneficiaries:
          type: array
          items:
            $ref: '#/components/schemas/single_api_aggregator_ListProfileBeneficiariesItem'
    single_api_aggregator_ListProfileDirectDebitsData:
      type: object
      required:
      - DirectDebits
      properties:
        DirectDebits:
          type: array
          items:
            $ref: '#/components/schemas/single_api_aggregator_ListProfileDirectDebitsItem'
    single_api_aggregator_ListProfileTransactionsData:
      type: object
      required:
      - Transactions
      properties:
        Transactions:
          type: array
          items:
            $ref: '#/components/schemas/single_api_aggregator_ListProfileTransactionsItem'
    single_api_aggregator_ListAccountScheduledPaymentsResponse:
      title: ListAccountScheduledPaymentsResponse
      type: object
      required:
      - Data
      - Meta
      properties:
        Data:
          type: object
          required:
          - AccountId
          - ScheduledPayments
          properties:
            ScheduledPayments:
              type: array
              items:
                $ref: '#/components/schemas/single_api_aggregator_ScheduledPayment'
        Meta:
          $ref: '#/components/schemas/single_api_aggregator_ListProfileResourceMeta'
    single_api_aggregator_ListAccountStandingOrdersResponse:
      description: List Account Standing Orders Response
      type: object
      required:
      - Data
      - Meta
      properties:
        Data:
          type: object
          required:
          - StandingOrder
          properties:
            StandingOrders:
              type: array
              items:
                $ref: '#/components/schemas/single_api_aggregator_StandingOrder'
        Meta:
          $ref: '#/components/schemas/single_api_aggregator_ListProfileResourceMeta'
    single_api_aggregator_StandingOrder:
      type: object
      required:
      - Frequency
      - StandingOrderId
      - FirstPaymentDateTime
      - FinalPaymentDateTime
      - NumberOfPayments
      - StandingOrderStatusCode
      - FirstPaymentAmount
      - FinalPaymentAmount
      properties:
        ProfileId:
          $ref: '#/components/schemas/single_api_aggregator_ProfileId'
        AccountsLinkId:
          $ref: '#/components/schemas/single_api_aggregator_AccountsLinkId'
        FinancialInstitution:
          $ref: '#/components/schemas/single_api_aggregator_FinancialInstitution'
        AccountId:
          $ref: '#/components/schemas/single_api_aggregator_AccountId'
        StandingOrderId:
          $ref: '#/components/schemas/single_api_aggregator_StandingOrderId'
        AccountHolderName:
          $ref: '#/components/schemas/single_api_aggregator_AccountHolderName'
        AccountHolderShortName:
          $ref: '#/components/schemas/single_api_aggregator_AccountHolderShortName'
        StandingOrderType:
          $ref: '#/components/schemas/single_api_aggregator_StandingOrderType'
        Frequency:
          $ref: '#/components/schemas/single_api_aggregator_Frequency'
        CreditorReference:
          $ref: '#/components/schemas/single_api_aggregator_Reference'
        Purpose:
          $ref: '#/components/schemas/single_api_aggregator_PurposeSO'
        FirstPaymentDateTime:
          $ref: '#/components/schemas/single_api_aggregator_DateTime'
        NextPaymentDateTime:
          $ref: '#/components/schemas/single_api_aggregator_DateTime'
        LastPaymentDateTime:
          $ref: '#/components/schemas/single_api_aggregator_DateTime'
        FinalPaymentDateTime:
          $ref: '#/components/schemas/single_api_aggregator_DateTime'
        NumberOfPayments:
          $ref: '#/components/schemas/single_api_aggregator_NumberOfPayments'
        StandingOrderStatusCode:
          $ref: '#/components/schemas/single_api_aggregator_StandingOrderStatusCode'
        FirstPaymentAmount:
          $ref: '#/components/schemas/single_api_aggregator_AmountType'
        NextPaymentAmount:
          $ref: '#/components/schemas/single_api_aggregator_AmountType'
        LastPaymentAmount:
          $ref: '#/components/schemas/single_api_aggregator_AmountType'
        FinalPaymentAmount:
          $ref: '#/components/schemas/single_api_aggregator_AmountType'
        CreditorAgent:
          $ref: '#/components/schemas/single_api_aggregator_PsuInquiry_CreditorAgent'
        CreditorAccount:
          $ref: '#/components/schemas/single_api_aggregator_CreditorAccount'
        SupplementaryData:
          $ref: '#/components/schemas/single_api_aggregator_SupplementaryData'
    single_api_aggregator_StandingOrderId:
      description: A unique and immutable identifier used to identify the standing order resource. This identifier has no meaning to the account owner.
      type: string
      minLength: 1
      maxLength: 40
    single_api_aggregator_StandingOrderType:
      description: The type of Standing Order.
      type: string
      enum:
      - KSAOB.BetweenMyAccounts
      - KSAOB.SameBankTransfer
      - KSAOB.LocalBankTransfer
      - KSAOB.InternationalTransfer
      - KSAOB.Charity
    single_api_aggregator_PurposeSO:
      description: "The purpose of the Standing Order payment.\nA free format string in the form of transaction categorisation.\nExample: \"Bills and expenses\", \"Government payment\", \"Personal Expenses\".       \n"
      type: string
      minLength: 1
      maxLength: 50
    single_api_aggregator_NumberOfPayments:
      description: Number of the payments that will be made in completing this frequency sequence including any executed since the sequence start date.
      type: string
      minLength: 1
      maxLength: 35
    single_api_aggregator_StandingOrderStatusCode:
      description: Specifies the status of the standing order in code form.
      type: string
      enum:
      - KSAOB.Active
      - KSAOB.Inactive
    single_api_aggregator_ListProfileResourceMeta:
      type: object
      required:
      - PageNumber
      - TotalPages
      properties:
        PageNumber:
          $ref: '#/components/schemas/single_api_aggregator_PageNumber'
        TotalPages:
          $ref: '#/components/schemas/single_api_aggregator_TotalPages'
    single_api_aggregator_ListProfileAccountsItem:
      type: object
      properties:
        ProfileId:
          $ref: '#/components/schemas/single_api_aggregator_ProfileId'
        AccountsLinkId:
          $ref: '#/components/schemas/single_api_aggregator_AccountsLinkId'
        FinancialInstitution:
          $ref: '#/components/schemas/single_api_aggregator_FinancialInstitution'
        AccountId:
          $ref: '#/components/schemas/single_api_aggregator_AccountId'
        AccountHolderName:
          $ref: '#/components/schemas/single_api_aggregator_AccountHolderName'
        AccountHolderShortName:
          $ref: '#/components/schemas/single_api_aggregator_AccountHolderShortName'
        Status:
          $ref: '#/components/schemas/single_api_aggregator_AccountStatus'
        StatusUpdateDateTime:
          $ref: '#/components/schemas/single_api_aggregator_StatusUpdateDateTime'
        Currency:
          $ref: '#/components/schemas/single_api_aggregator_Currency'
        AccountType:
          $ref: '#/components/schemas/single_api_aggregator_AccountType'
        AccountSubType:
          $ref: '#/components/schemas/single_api_aggregator_AccountSubType'
        Description:
          $ref: '#/components/schemas/single_api_aggregator_Description'
        Nickname:
          $ref: '#/components/schemas/single_api_aggregator_Nickname'
        OpeningDate:
          $ref: '#/components/schemas/single_api_aggregator_OpeningDate'
        MaturityDate:
          $ref: '#/components/schemas/single_api_aggregator_MaturityDate'
        AccountIdentifiers:
          type: array
          items:
            type: object
            description: Provides the details to identify an account.
            required:
            - IdentificationType
            - Identification
            properties:
              IdentificationType:
                $ref: '#/components/schemas/single_api_aggregator_IdentificationType'
              Identification:
                $ref: '#/components/schemas/single_api_aggregator_Identification'
              Name:
                $ref: '#/components/schemas/single_api_aggregator_Name'
        Servicer:
          type: object
          description: Party that manages the account on behalf of the account owner, that is manages the registration and booking of entries on the account, calculates balances on the account and provides information about the account.
          properties:
            IdentificationType:
              $ref: '#/components/schemas/single_api_aggregator_IdentificationType'
            Identification:
              $ref: '#/components/schemas/single_api_aggregator_Identification'
        Balances:
          type: array
          items:
            type: object
            description: Provides detailed balance information for an account.
            properties:
              BalanceType:
                $ref: '#/components/schemas/single_api_aggregator_BalanceType'
              Amount:
                $ref: '#/components/schemas/single_api_aggregator_Amount'
              Currency:
                $ref: '#/components/schemas/single_api_aggregator_Currency'
    single_api_aggregator_ListProfileBalancesItem:
      type: object
      description: Set of elements used to define the balance details.
      required:
      - CreditDebitIndicator
      - Type
      - DateTime
      - Amount
      properties:
        ProfileId:
          $ref: '#/components/schemas/single_api_aggregator_ProfileId'
        AccountsLinkId:
          $ref: '#/components/schemas/single_api_aggregator_AccountsLinkId'
        FinancialInstitution:
          $ref: '#/components/schemas/single_api_aggregator_FinancialInstitution'
        AccountId:
          $ref: '#/components/schemas/single_api_aggregator_AccountId'
        CreditDebitIndicator:
          $ref: '#/components/schemas/single_api_aggregator_CreditDebitCode'
        Type:
          $ref: '#/components/schemas/single_api_aggregator_BalanceTypeCode'
        DateTime:
          $ref: '#/components/schemas/single_api_aggregator_DateTime'
        Amount:
          $ref: '#/components/schemas/single_api_aggregator_AmountType'
        CreditLine:
          $ref: '#/components/schemas/single_api_aggregator_CreditLines'
    single_api_aggregator_CreditDebitCode:
      description: Indicates whether the transaction is a credit or a debit entry.
      type: string
      enum:
      - KSAOB.Credit
      - KSAOB.Debit
    single_api_aggregator_DateTime:
      description: "Indicates the date (and time). All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
      type: string
      format: date-time
    single_api_aggregator_AmountType:
      type: object
      required:
      - Amount
      - Currency
      description: Amount of money
      properties:
        Amount:
          $ref: '#/components/schemas/single_api_aggregator_AmountSimpleType'
        Currency:
          $ref: '#/components/schemas/single_api_aggregator_CurrencyCode'
    single_api_aggregator_AmountSimpleType:
      description: A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.
      type: string
      pattern: ^\d{1,13}$|^\d{1,13}\.\d{1,5}$
    single_api_aggregator_CurrencyCode:
      description: A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".
      type: string
      pattern: ^[A-Z]{3,3}$
      example: SAR
    single_api_aggregator_CreditLines:
      type: array
      items:
        $ref: '#/components/schemas/single_api_aggregator_CreditLine'
    single_api_aggregator_CreditLine:
      type: object
      description: Set of elements used to provide details on the credit line.
      required:
      - Included
      - Type
      - Amount
      properties:
        Included:
          $ref: '#/components/schemas/single_api_aggregator_IncludedFlag'
        Type:
          $ref: '#/components/schemas/single_api_aggregator_CreditLineType'
        Amount:
          $ref: '#/components/schemas/single_api_aggregator_AmountType'
    single_api_aggregator_IncludedFlag:
      description: 'Indicates whether or not the credit line is included in the balance of the account.

        Usage: If not present, credit line is not included in the balance amount of the account.'
      type: boolean
    single_api_aggregator_CreditLineType:
      description: Limit type, in a coded form.
      type: string
      enum:
      - KSAOB.Available
      - KSAOB.Credit
      - KSAOB.Emergency
      - KSAOB.Pre-Agreed
      - KSAOB.Temporary
    single_api_aggregator_ListProfileBeneficiariesItem:
      properties:
        ProfileId:
          $ref: '#/components/schemas/single_api_aggregator_ProfileId'
        AccountsLinkId:
          $ref: '#/components/schemas/single_api_aggregator_AccountsLinkId'
        FinancialInstitution:
          $ref: '#/components/schemas/single_api_aggregator_FinancialInstitution'
        AccountId:
          $ref: '#/components/schemas/single_api_aggregator_AccountId'
        BeneficiaryId:
          $ref: '#/components/schemas/single_api_aggregator_BeneficiaryId'
        BeneficiaryType:
          $ref: '#/components/schemas/single_api_aggregator_BeneficiaryType'
        AccountHolderName:
          $ref: '#/components/schemas/single_api_aggregator_AccountHolderName'
        AccountHolderShortName:
          $ref: '#/components/schemas/single_api_aggregator_AccountHolderShortName'
        Reference:
          $ref: '#/components/schemas/single_api_aggregator_Reference'
        SupplementaryData:
          $ref: '#/components/schemas/single_api_aggregator_SupplementaryData'
        CreditorAgent:
          $ref: '#/components/schemas/single_api_aggregator_CreditorDebtorAgent'
        CreditorAccount:
          type: array
          items:
            $ref: '#/components/schemas/single_api_aggregator_BenefCreditorAccount'
    single_api_aggregator_ListProfileDirectDebitsItem:
      type: object
      required:
      - DirectDebitId
      - MandateIdentification
      - DirectDebitStatusCode
      - Name
      - Frequency
      properties:
        ProfileId:
          $ref: '#/components/schemas/single_api_aggregator_ProfileId'
        AccountsLinkId:
          $ref: '#/components/schemas/single_api_aggregator_AccountsLinkId'
        FinancialInstitution:
          $ref: '#/components/schemas/single_api_aggregator_FinancialInstitution'
        AccountId:
          $ref: '#/components/schemas/single_api_aggregator_AccountId'
        DirectDebitId:
          $ref: '#/components/schemas/single_api_aggregator_DirectDebitId'
        MandateIdentification:
          $ref: '#/components/schemas/single_api_aggregator_MandateIdentification'
        DirectDebitStatusCode:
          $ref: '#/components/schemas/single_api_aggregator_DirectDebitStatusCode'
        Name:
          $ref: '#/components/schemas/single_api_aggregator_Name'
        Frequency:
          $ref: '#/components/schemas/single_api_aggregator_Frequency'
        PreviousPaymentDateTime:
          $ref: '#/components/schemas/single_api_aggregator_PreviousPaymentDateTime'
        PreviousPaymentAmount:
          $ref: '#/components/schemas/single_api_aggregator_PreviousPaymentAmount'
    single_api_aggregator_ListProfileTransactionsItem:
      type: object
      description: Provides further details on an entry in the report.
      properties:
        ProfileId:
          $ref: '#/components/schemas/single_api_aggregator_ProfileId'
        AccountsLinkId:
          $ref: '#/components/schemas/single_api_aggregator_AccountsLinkId'
        FinancialInstitution:
          $ref: '#/components/schemas/single_api_aggregator_FinancialInstitution'
        AccountId:
          $ref: '#/components/schemas/single_api_aggregator_AccountId'
        TransactionId:
          $ref: '#/components/schemas/single_api_aggregator_TransactionId'
        TransactionDateTime:
          $ref: '#/components/schemas/single_api_aggregator_TransactionDateTime'
        LocalTimeZone:
          $ref: '#/components/schemas/single_api_aggregator_LocalTimeZone'
        StatementReference:
          $ref: '#/components/schemas/single_api_aggregator_StatementReference'
        TransactionReference:
          $ref: '#/components/schemas/single_api_aggregator_TransactionReference'
        TransactionType:
          $ref: '#/components/schemas/single_api_aggregator_TransactionType'
        SubTransactionType:
          $ref: '#/components/schemas/single_api_aggregator_SubTransactionType'
        TerminalId:
          $ref: '#/components/schemas/single_api_aggregator_TerminalId'
        Flags:
          type: array
          items:
            $ref: '#/components/schemas/single_api_aggregator_Flags'
        PaymentModes:
          $ref: '#/components/schemas/single_api_aggregator_PaymentMode'
        CreditDebitIndicator:
          $ref: '#/components/schemas/single_api_aggregator_CreditDebitIndicator'
        Status:
          $ref: '#/components/schemas/single_api_aggregator_TransactionStatus'
        TransactionMutability:
          $ref: '#/components/schemas/single_api_aggregator_TransactionMutability'
        BookingDateTime:
          $ref: '#/components/schemas/single_api_aggregator_BookingDateTime'
        ValueDateTime:
          $ref: '#/components/schemas/single_api_aggregator_ValueDateTime'
        TransactionInformation:
          $ref: '#/components/schemas/single_api_aggregator_TransactionInformation'
        Amount:
          type: object
          properties:
            Amount:
              $ref: '#/components/schemas/single_api_aggregator_Amount'
            Currency:
              $ref: '#/components/schemas/single_api_aggregator_Currency'
        ChargeAmount:
          type: object
          properties:
            Amount:
              $ref: '#/components/schemas/single_api_aggregator_Amount'
            Currency:
              $ref: '#/components/schemas/single_api_aggregator_Currency'
            ChargeIncluded:
              $ref: '#/components/schemas/single_api_aggregator_ChargeIncluded'
        ChargeAmountVat:
          type: object
          properties:
            Amount:
              $ref: '#/components/schemas/single_api_aggregator_Amount'
            Currency:
              $ref: '#/components/schemas/single_api_aggregator_Currency'
        CurrencyExchange:
          $ref: '#/components/schemas/single_api_aggregator_CurrencyExchange'
        BankTransactionCode:
          $ref: '#/components/schemas/single_api_aggregator_BankTransactionCodeStructure'
        ProprietaryBankTransactionCode:
          $ref: '#/components/schemas/single_api_aggregator_ProprietaryBankTransactionCodeStructure'
        Balance:
          $ref: '#/components/schemas/single_api_aggregator_TransactionCashBalance'
        MerchantDetails:
          $ref: '#/components/schemas/single_api_aggregator_MerchantDetails'
        CreditorAgent:
          $ref: '#/components/schemas/single_api_aggregator_CreditorDebtorAgent'
        CreditorAccount:
          type: array
          items:
            $ref: '#/components/schemas/single_api_aggregator_TrxnCreditorDebtorAccount'
        DebtorAgent:
          $ref: '#/components/schemas/single_api_aggregator_CreditorDebtorAgent'
        DebtorAccount:
          $ref: '#/components/schemas/single_api_aggregator_TrxnCreditorDebtorAccount'
        CardInstrument:
          $ref: '#/components/schemas/single_api_aggregator_TransactionCardInstrument'
        SupplementaryData:
          $ref: '#/components/schemas/single_api_aggregator_SupplementaryData'
        BillDetails:
          $ref: '#/components/schemas/single_api_aggregator_BillDetails'
    single_api_aggregator_ProfileId:
      description: Profile Identifier
      type: string
      example: '541234560'
    single_api_aggregator_AccountsLinkId:
      description: Accounts Link Identifier
      type: string
      example: '123456789'
    single_api_aggregator_FinancialInstitution:
      type: object
      description: Set of elements used to define the Financial Institution details
      properties:
        FinancialInstitutionId:
          description: Specifies the Financial Institution Identifier.
          type: string
          example: INMASARI
        NameEn:
          description: Specifies the English name for the resource.
          type: string
          example: Alinma Bank
        NameAr:
          description: Specifies the Arabic name for the resource.
          type: string
          example: بنك الانماء
        Logo:
          description: Specifies the Logo for the resource.
          type: string
          example: https://sit.api.public.neotek.sa/assets-neotek/neotek.png
    single_api_aggregator_AccountId:
      title: AccountId
      description: A unique and immutable identifier used to identify the account resource. This identifier has no meaning to the account owner.
      type: string
      example: '154581853470993793600321149731'
    single_api_aggregator_AccountHolderName:
      title: AccountHolderName
      description: "* /accounts resource\nThe Account Holder Name is the name or names of the Account owner(s) represented at the account level\n\n* /accounts/{AccountId} resource\nThe Account Holder Name is the name or names of the Account owner(s) represented at the account level\n\n* /beneficiaries resource\nThe Account Holder Name is the name or names of the Beneficiary account owner(s) represented at the account level, as displayed by the Creditor Agent's online channels and as provided by the Beneficiary to the PSU 1 when adding the Beneficiary in the Beneficiary list. \nNote, the Account Holder Name is not the product name or the nickname of the account.              \n\n* /scheduled-payments resource\nThe Account Holder Name is the name or names of the Beneficiary account owner(s) represented at the account level, as displayed by the Creditor Agent's online channels and as provided by the Beneficiary to the PSU 1 when adding the Beneficiary in the Beneficiary list. \nNote, the Account\
        \ Holder Name is not the product name or the nickname of the account.              \n\n* /standing-orders resource\nThe Account Holder Name is the name or names of the Beneficiary account owner(s) represented at the account level, as displayed by the Creditor Agent's online channels and as provided by the Beneficiary to the PSU 1 when adding the Beneficiary in the Beneficiary list. \nNote, the Account Holder Name is not the product name or the nickname of the account.   \n"
      type: string
    single_api_aggregator_AccountHolderShortName:
      title: AccountHolderShortName
      type: string
      description: '* /accounts resource

        The Account holder nick name


        * /accounts/{AccountId} resource

        The Account holder nick name


        * /beneficiaries resource

        The Beneficiary account holder nick name


        * /scheduled-payments resource

        The Beneficiary account holder nick name


        * /standing-orders resource

        The Beneficiary account holder nick name       type: string

        '
    single_api_aggregator_AccountStatus:
      title: AccountStatus
      type: string
      description: Specifies the status of account resource in code form.
      example: Active
      enum:
      - Active
      - NotActive
      - Dormant
      - Unclaimed
      - Deceased
      - Suspended
      - Closed
    single_api_aggregator_StatusUpdateDateTime:
      title: StatusUpdateDateTime
      description: Date and time at which the resource status was updated.
      type: string
      format: date-time
      example: '2024-03-05T08:20:37.034Z'
    single_api_aggregator_Currency:
      title: Currency
      description: "Identification of the currency in which the account is held. \nUsage: Currency should only be used in case one and the same account number covers several currencies\nand the initiating party needs to identify which currency needs to be used for settlement on the account."
      type: string
      example: SAR
    single_api_aggregator_AccountType:
      title: AccountType
      description: Specifies the type of account (Retail or Corporate).
      type: string
      example: KSAOB.Retail
    single_api_aggregator_AccountSubType:
      title: AccountSubType
      description: Specifies the sub type of account (product family group).
      type: string
      example: CurrentAccount
    single_api_aggregator_Description:
      title: Description
      description: Specifies the description of the specific resource.
      type: string
    single_api_aggregator_Nickname:
      title: Nickname
      description: The nickname of the account, assigned by the account owner in order to provide an additional means of identification of the account.
      type: string
    single_api_aggregator_OpeningDate:
      title: OpeningDate
      description: Date on which the resource and related basic services are effectively operational for the resource owner.
      type: string
      format: date-time
      example: '2024-03-05T08:20:37.034Z'
    single_api_aggregator_MaturityDate:
      title: MaturityDate
      description: Maturity date of the resource.
      type: string
      format: date-time
      example: '2024-03-05T08:20:37.034Z'
    single_api_aggregator_IdentificationType:
      title: IdentificationType
      description: Name of the identification scheme for the account. Encoded with allowable values published in an external list.
      type: string
    single_api_aggregator_Identification:
      title: Identification
      description: Identification for the account assigned by the PASP based on the Account Scheme Name. This identification is known by the PSU 1 account owner.
      type: string
    single_api_aggregator_Name:
      title: Name
      description: 'The account name is the name or names of the PSU 1 account owner(s) represented at an account level, as displayed by the PASP''s online channels. Note: The account name is not the product name or the nickname of the account.'
      type: string
    single_api_aggregator_BalanceType:
      title: BalanceType
      description: BalanceType
      type: string
      example: KSAOB.ClosingAvailable
      enum:
      - KSAOB.ClosingAvailable
      - KSAOB.ClosingBooked
      - KSAOB.ClosingCleared
      - KSAOB.Expected
      - KSAOB.ForwardAvailable
      - KSAOB.Information
      - KSAOB.InterimAvailable
      - KSAOB.InterimBooked
      - KSAOB.InterimCleared
      - KSAOB.OpeningAvailable
      - KSAOB.OpeningBooked
      - KSAOB.OpeningCleared
      - KSAOB.PreviouslyClosedBooked
    single_api_aggregator_DirectDebitId:
      title: DirectDebitId
      type: string
      description: A unique and immutable identifier used to identify the direct debit resource. This identifier has no meaning to the account owner.
    single_api_aggregator_MandateIdentification:
      title: MandateIdentification
      type: string
      description: This is the unique and immutable reference to the PSU 1 for the Direct Debit mandate.
    single_api_aggregator_DirectDebitStatusCode:
      title: DirectDebitStatusCode
      type: string
      description: 'Specifies the status of the direct debit. Encoded with allowable values of: ''Active'', ''Inactive'''
      example: KSAOB.Annual
      enum:
      - Active
      - Inactive
    single_api_aggregator_Frequency:
      title: Frequency
      type: string
      description: Specifies the frequency of the Direct Debit collections to the PSU 1 account.
      example: KSAOB.Annual
      enum:
      - KSAOB.Annual
      - KSAOB.Daily
      - KSAOB.Fortnightly
      - KSAOB.HalfYearly
      - KSAOB.Monthly
      - KSAOB.NotKnown
      - KSAOB.Quarterly
      - KSAOB.Weekly
    single_api_aggregator_PreviousPaymentDateTime:
      title: PreviousPaymentDateTime
      description: The date of most recent direct debit collection to the PSU 1 account.
      type: string
      format: date-time
      example: '2024-03-05T08:20:37.034Z'
    single_api_aggregator_PreviousPaymentAmount:
      title: PreviousPaymentAmount
      type: object
      description: This is the value of the last direct debit collection from the PSU 1 account.
      properties:
        Amount:
          $ref: '#/components/schemas/single_api_aggregator_Amount'
        Currency:
          $ref: '#/components/schemas/single_api_aggregator_Currency'
    single_api_aggregator_Amount:
      title: Amount
      type: string
      description: A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.
      pattern: ^\d{1,13}$|^\d{1,13}\.\d{1,5}$
      example: '1500.50'
    single_api_aggregator_BeneficiaryId:
      title: BeneficiaryId
      type: string
      description: A unique and immutable identifier used to identify the beneficiary resource. This identifier has no meaning to the account owner.
    single_api_aggregator_BeneficiaryType:
      title: BeneficiaryType
      type: string
      description: 'Specifies the Beneficiary Type. Encoded with allowable values of: ''Activated'' - Beneficiary has been added to the beneficiary list using SCA. ''NotActivated'' - Beneficiary has been added to the beneficiary list without SCA'
      example: KSAOB.Activated
      enum:
      - KSAOB.Activated
      - KSAOB.NotActivated
    single_api_aggregator_Reference:
      title: Reference
      type: string
      description: 'Unique reference in the context of the creditor, provided by the creditor to the PSU1 (Debtor), to unambiguously refer to the payment transaction. Usage: If available, the initiating party (i.e. Debtor) provides this reference in the structured remittance information, to enable reconciliation by the Creditor upon receipt of the amount of money. This field is populated by the PSU 1 (who is the initiating party of the payment e.g. the Debtor). Field is free format text'
    single_api_aggregator_SupplementaryData:
      title: SupplementaryData
      type: object
      properties: {}
      additionalProperties: true
      description: Additional information that can not be captured in the structured fields and/or any other specific block.
    single_api_aggregator_CreditorDebtorAgent:
      title: CreditorDebtorAgent
      type: object
      description: "* Creditor: \"Party that manages the account on behalf of the account owner, that is manages the registration and booking of entries on the account, calculates balances on the account and provides information about the account.\\nThis is the servicer of the beneficiary account.\"\n* Debotr: \"Financial institution servicing an account for the Debtor in case the transaction is a Credit transaction.\n  These are optional because there are situations where this cannot be populated for the following Credit transactions\n  - cash deposits (no creditor account/agent)\n  - cheques and DDs may not have this information at least during the process of clearing and sometimes (e.g. for agency banks) may not be reconciled ever\n  - some corner situations with international payments \n  - for refunds with card payments  (instead merchant information fields should be populated)\"\n"
      properties:
        IdentificationType:
          $ref: '#/components/schemas/single_api_aggregator_IdentificationType'
        Identification:
          $ref: '#/components/schemas/single_api_aggregator_Identification'
        Name:
          $ref: '#/components/schemas/single_api_aggregator_Name'
        PostalAddress:
          $ref: '#/components/schemas/single_api_aggregator_PostalAddress'
    single_api_aggregator_BenefCreditorAccount:
      title: BenefCreditorAccount
      type: object
      description: Provides the details to identify the beneficiary account.
      properties:
        IdentificationType:
          $ref: '#/components/schemas/single_api_aggregator_IdentificationType'
        Identification:
          $ref: '#/components/schemas/single_api_aggregator_Identification'
    single_api_aggregator_PostalAddress:
      type: object
      description: Postal Address specifies Information that locate and identify a specific address, as defined by postal services.
      properties:
        AddressType:
          $ref: '#/components/schemas/single_api_aggregator_AddressTypeCode'
        ShortAddress:
          $ref: '#/components/schemas/single_api_aggregator_ShortAddress'
        BuildingNumber:
          $ref: '#/components/schemas/single_api_aggregator_BuildingNumber'
        UnitNumber:
          $ref: '#/components/schemas/single_api_aggregator_UnitNumber'
        StreetName:
          $ref: '#/components/schemas/single_api_aggregator_StreetName'
        SecondaryNumber:
          $ref: '#/components/schemas/single_api_aggregator_SecondaryNumber'
        District:
          $ref: '#/components/schemas/single_api_aggregator_District'
        PostalCode:
          $ref: '#/components/schemas/single_api_aggregator_PostalCode'
        City:
          $ref: '#/components/schemas/single_api_aggregator_City'
        Country:
          $ref: '#/components/schemas/single_api_aggregator_Country'
    single_api_aggregator_AddressTypeCode:
      title: AddressTypeCode
      description: Postal Address type specifies the the nature of the postal address.
      type: string
    single_api_aggregator_ShortAddress:
      title: ShortAddress
      description: 8 character Unique alphanumeric Code.
      type: string
    single_api_aggregator_BuildingNumber:
      title: BuildingNumber
      description: Number that identifies the position of a building on a street.
      type: string
    single_api_aggregator_UnitNumber:
      title: UnitNumber
      description: This is the unit number of the business premises or dwelling
      type: number
      example: 10
    single_api_aggregator_StreetName:
      title: StreetName
      description: Name of a street or thoroughfare.
      type: string
    single_api_aggregator_SecondaryNumber:
      title: SecondaryNumber
      description: Secondary Number, if required
      type: string
    single_api_aggregator_District:
      title: District
      description: Identifies the District of a City
      type: string
    single_api_aggregator_PostalCode:
      title: PostalCode
      description: Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.
      type: string
    single_api_aggregator_Country:
      title: Country
      description: Identifies a county either by full name or country code
      type: string
    single_api_aggregator_City:
      title: City
      description: Identifies the City of a Country
      type: string
    single_api_aggregator_TransactionId:
      title: TransactionId
      description: Unique identifier for the transaction within an servicing institution. This identifier is both unique and immutable.
      type: string
    single_api_aggregator_TransactionDateTime:
      title: TransactionDateTime
      description: "The Date Time of when the transaction occurred.\nAll dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. \n"
      type: string
      format: date-time
      example: '2024-03-05T08:20:37.034Z'
    single_api_aggregator_LocalTimeZone:
      title: LocalTimeZone
      description: "The UTC offset of the local date and time of where the transaction occurred\nE.g. UTC+03:00      \n"
      type: string
      format: date-time
    single_api_aggregator_StatementReference:
      description: Unique reference for the statement. This reference may be optionally populated if available.
      type: string
    single_api_aggregator_TransactionReference:
      description: "Unique reference for the transaction.\nWhen processed through a national payment system, it is mandatory to be populated by the PASP.\nAs an example, it may be a reference code for the local payment scheme e.g. mada, SARIE.\"      \n"
      type: string
    single_api_aggregator_TransactionType:
      title: TransactionType
      description: The type of transaction
      type: string
      example: KSAOB.POS
      enum:
      - KSAOB.POS
      - KSAOB.ECommerce
      - KSAOB.ATM
      - KSAOB.BillPayments
      - KSAOB.LocalBankTransfer
      - KSAOB.SameBankTransfer
      - KSAOB.InternationalTransfer
      - KSAOB.Teller
    single_api_aggregator_SubTransactionType:
      title: SubTransactionType
      description: The sub-type of a transaction
      type: string
      example: KSAOB.Purchase
      enum:
      - KSAOB.Purchase
      - KSAOB.Reversal
      - KSAOB.Refund
      - KSAOB.Withdrawal
      - KSAOB.WithdrawalReversal
      - KSAOB.Deposit
      - KSAOB.DepositReversal
      - KSAOB.MoneyTransfer
      - KSAOB.NotApplicable
    single_api_aggregator_TerminalId:
      description: ID of the Terminal if the transaction was initiated from a retail POS
      type: integer
    single_api_aggregator_Flags:
      title: Flags
      description: The flag of a transaction
      type: string
      example: KSAOB.Cashback
      enum:
      - KSAOB.Cashback
      - KSAOB.Payroll
      - KSAOB.DirectDebit
      - KSAOB.StandingOrder
      - KSAOB.Loan
      - KSAOB.Dividend
    single_api_aggregator_PaymentMode:
      title: PaymentModes
      description: The mode of payment
      type: string
      example: KSAOB.Online
      enum:
      - KSAOB.Online
      - KSAOB.Offline
      - KSAOB.Batch
    single_api_aggregator_CreditDebitIndicator:
      description: Indicates whether the transaction is a credit or a debit entry.
      type: string
      example: KSAOB.Credit
      enum:
      - KSAOB.Credit
      - KSAOB.Debit
    single_api_aggregator_TransactionStatus:
      description: Status of a transaction entry on the books of the account servicer.
      type: string
      example: KSAOB.Booked
      enum:
      - KSAOB.Booked
      - KSAOB.Pending
      - KSAOB.Rejected
    single_api_aggregator_TransactionMutability:
      description: Specifies the Mutability of the Transaction record.
      type: string
      enum:
      - KSAOB.Mutable
      - KSAOB.Immutable
[...]
